name: Pytest

on:
  push:
    branches:
      - main
      - dev
  pull_request:
    branches:
      - main
      - dev

jobs:
  pytest:
    # running on ubuntu 22 due to this bug:
    # https://github.com/anthropic-experimental/sandbox-runtime/issues/74
    runs-on: ubuntu-22.04

    strategy:
      fail-fast: false
      matrix:
        python-version: [ "3.10", "3.11", "3.12", "3.13", "3.14", "3.14t" ]

    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Setup Python Environment
        uses: ./.github/actions/setup_python_environment
        with:
          python-version: ${{ matrix.python-version }}

      - name: Test with Pytest
        run: |
          # install pytest sugar for nicer logs
          uv pip install pytest-sugar
          
          uv run --frozen pytest . --force-sugar --color=yes --disable-warnings -qq -r fE
  
